# Ignore node_modules
**/node_modules/

# Ignore environment files
**/.env

# Ignore frontend build files
**/dist/
**/build/

# Ignore lock files if not needed

**/yarn.lock

# Ignore config files if not needed
**/tailwind.config.js
**/vite.config.js
**/next.config.js
# Ignore config and lock files

**/postcss.config.js
**/eslint.config.js

# Ignore OS files
.DS_Store
Thumbs.db
